<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="db346ee4-ed97-448a-a1a3-3e0021cc758d" name="MHW Test" alias="mhw-test" type="Starter" color="" url="https://www.s1.umbraco.io/project/mhw-test" trialExpireDate="2020-06-26T16:23:45">
  <environment type="live" name="Live" id="b6d4b2dd-9fcf-4b6c-9ecd-c15efb45f64b">https://mhw-test.s1.umbraco.io</environment>
</environments>